@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:  'Passion One', cursive;
    --fonte3:  'Sriracha', cursive;
}


*{
    margin: 0px;
    padding: 0px;
    
}
html, body {
    min-height: 100vh;
    background-color: darkgray ;
    font-family: var(--fonte1);
    
}
header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte2);
    font-size: 5vh;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}
header > p{
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a :hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vh;
}
section > p {
    padding-bottom: 4em;
}
section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.257);
    text-shadow: 1px 1px 0px black;
}

section.normal {
    background-color: white;
    color: black;
}
section.imagem{
    background-color:rgba(51, 51, 51, 0.722) ;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgb(56, 55, 55);
    background-size: cover;
    background-attachment: fixed;
}

section#img01{
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
    
}
section#img02{
    background-image: url("../imagens/background002.jpg");}
    

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
}